.todoItem {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 0 10px;

  border: 1px solid rgba(26,26,29);
  border-radius: 15px;
  padding: 10px;

  transition-duration: 0.2s;
  &__input {
    &:checked + .todoItem__text {
      text-decoration: line-through;
    }
  }
  &__text {
    color: rgba(26,26,29);
    word-break: break-word;
    font-size: 20px;
  }
  &__button {
    margin-left: auto;
    font-size: 30px;
    background: transparent;

    color: rgba(26,26,29, 0.55);

    &:hover {
      color: rgba(26,26,29);
    }
  }
}